<!-- {{service.updatePassword | json}} -->

<div style="overflow: auto; height: 450px;" class="card container mt-4">

    <form #form="ngForm" (submit)="onPasswordSubmit(form)" autocomplete="off">

        <button class="btn btn-success" (click)="GoBack()">Back</button>
        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Email </span>
            </div>

            <input required minlength="2" type="email" class="form-control" name="Email" #Email="ngModel" [(ngModel)]="service.updatePassword.email">
        </div>
        <div class="text-left text-danger" *ngIf="Email.invalid && Email.touched">
            Please enter Email .
        </div>

        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Password</span>
            </div>

            <input required minlength="2" type="text" class="form-control" name="Password" #Password="ngModel" [(ngModel)]="service.updatePassword.password">
        </div>
        <div class="text-left text-danger" *ngIf="Password.invalid && Password.touched">
            Please enter Password .
        </div>





        <button class="mt-4" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Update Password</button>


    </form>

</div>